[core]
ignorecase = false

[init]
defaultBranch = main

[pull]
rebase = true

[include]
path = ~/.config/git/tokyonight_moon.gitconfig
path = ~/.config/git/delta.gitconfig
path = ~/.config/git/user.gitconfig
